{% extends "base.html" %}
{% block content %}

<h2 style="border: 1px solid rgb(204, 204, 204); padding: 5px 10px; text-align: center;"><span style="color: #3366cc;"><big>STAGE 1 <b>: </b>Acute Rehabilitation</big> </span></h2>

<h3 style="border: 1px solid rgb(204, 204, 204); padding: 5px 10px; text-align: center;"><span style="color: #3366cc;"><big>Begin on {{stage.begin}}, Day {{day1.day}}</big></span></h3>

<p>&nbsp;</p>

<h1 style="text-align: center;"><a href="/practice/stage1/education/"><span style="color: #00cccc;"><span style="background-color: rgb(236, 240, 241);">&#128275; Education &#128073;</span></span></a></h1>

<p style="text-align: center;">&nbsp;</p>

<h1 style="text-align: center;"><a href="/practice/stage1/cryotherapy/"><span style="color:#33cccc;"><span style="background-color: rgb(236, 240, 241);">&#128275; Cryotherapy &#128073;</span></span></a></h1>

<p style="text-align: center;">&nbsp;</p>

<h1 style="text-align: center;"><a href="/practice/stage1/exercise/"><span style="color:#33cccc;"><span style="background-color: rgb(236, 240, 241);">&#128275; Active Exercise &#128073;</span></span></a></h1>

<h2><a href="/practice/menu/" target="_self">&#128072; BACK TO MENU</a></h2>

{% endblock %}
