{% extends "base.html" %}
{% block content %}

<h2 style="border: 1px solid rgb(204, 204, 204); padding: 5px 10px; text-align: center;"><span style="color: #3366cc;"><big>STAGE 1 <b>: </b>Acute Rehabilitation : Education </big> </span></h2>

<h3 style="border: 1px solid rgb(204, 204, 204); padding: 5px 10px; text-align: center;"><span style="color: #3366cc;"><big>Begin on {{stage.begin}}, Day {{day1.day}}</big></span></h3>

<p>&nbsp;</p>

<h2 style="text-align: center;"><a href="http://www.google.ec"><span style="color:#33cccc;"><span style="background-color: rgb(236, 240, 241);"> 1. How to move normally &#128065;</span></span></a></h2>
<h2 style="text-align: center;"><a href="http://www.google.ec"><span style="color:#33cccc;"><span style="background-color: rgb(236, 240, 241);"> 2. Advice : Fluid balance in legs &#128065;</span></span></a></h2>
<h2 style="text-align: center;"><a href="http://www.google.ec"><span style="color:#33cccc;"><span style="background-color: rgb(236, 240, 241);"> 3. Instruction : Use of walking aids &#128065;</span></span></a></h2>
<h2 style="text-align: center;"><a href="http://www.google.ec"><span style="color:#33cccc;"><span style="background-color: rgb(236, 240, 241);"> 4. How to practice exercise properly &#128065;</span></span></a></h2>
<h2 style="text-align: center;"><a href="http://www.google.ec"><span style="color:#33cccc;"><span style="background-color: rgb(236, 240, 241);"> 5. Precaution about the range of motions and weight bearing &#128065;</span></span></a></h2>
<h2 style="text-align: center;"><a href="http://www.google.ec"><span style="color:#33cccc;"><span style="background-color: rgb(236, 240, 241);"> 6. How to do exercise : Correct and wrong way &#128065;</span></span></a></h2>
<h2 style="text-align: center;"><a href="http://www.google.ec"><span style="color:#33cccc;"><span style="background-color: rgb(236, 240, 241);"> 7. How to do ADL &#128065;</span></span></a></h2>
<h2 style="text-align: center;"><a href="http://www.google.ec"><span style="color:#33cccc;"><span style="background-color: rgb(236, 240, 241);"> 8. How to facilitate muscle recovery and to stretch muscles and joints &#128065;</span></span></a></h1>

<h2><a href="/practice/stage1/" target="_self">&#128072; BACK TO STAGE 1</a></h2>


{% endblock %}
